<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Audit - elasticsearch</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!-- Define o conteúdo da página -->
	<div th:replace="~{header :: header}"></div>
	<div class="d-flex justify-content-center align-items-center">
		<form method="POST" action="/audit" class="row">
			<div class="row">
				<!-- Primeira linha de colunas -->
				<div class="col">
					<label class="form-label">Id do Usuário</label> <input type="text"
						class="form-control" name="userId">
				</div>
				<div class="col">
					<label class="form-label">Tipo</label> <input type="text"
						class="form-control" name="tipo">
				</div>
				
				<!-- Segunda linha de colunas -->
			</div>
			<div class="row">
				<div class="col">
					<label class="form-label">Data Início</label> <input
						type="datetime-local" class="form-control" name="dataInicio" />
				</div>
				<div class="col">
					<label class="form-label">Data Fim</label> <input
						type="datetime-local" class="form-control" name="dataFim" />
				</div>
			</div>
			<!-- Terceira linha de colunas -->
			<div class="row">
				<div class="col">
					<label class="form-label">Transação</label> <input type="text"
						class="form-control" name="transacao">
				</div>
				<div class="col">
					<label class="form-label">Terminal</label> <input type="text"
						class="form-control" name="terminal">
				</div>
			</div>
			<!-- Quarta linha de colunas -->
			<div class="row">
				<div class="col">
					<label class="form-label">Tela/Fragmento</label> <input type="text"
						class="form-control" name="tela">
				</div>
				 
			</div>
			<!-- Quinta linha de colunas -->
			<div class="row">
				<div class="col">
					<!-- Nada -->
				</div>
				<div class="col">
					<br />
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
		</form>
	</div>
</body>

</html>
